body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  #main-container { 
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    margin-bottom:-20px; 
  }
}

footer.page-footer {
  .footer-copyright {
    color: $navbar-font-color;
  }
}

// Top Nav Bar inside header
nav {
  .nav-wrapper {
    i { 
      display: inline-block; 
      vertical-align: middle;
      font-size: $lg-size; 
    }
    .button-collapse { margin-left: $md-margin; }
    #supertcp-logo { 
      margin-left: $md-margin;
      margin-bottom: -10px;
      width: 125px; 
    }
    #app-title { 
      margin-left: 30%; 
      font-size: $lg-size; 
      font-weight: bold;
    }
  }
}
@media #{$medium-only} {
  nav .nav-wrapper #app-title { margin-left: 38%; }
}
@media #{$large-and-up} {
  nav .nav-wrapper #app-title { margin-left: 45%; }
}

#desktop-links-container {
  background-color: $primary-color;
  padding: 0;
 
  ul {
    li {
      font-size: $md-size;
      transition: background-color .3s;
   
      &:hover {
        background-color: $primary-color;
      }
      &.active {
        background-color: white;
        border-right: 4px solid $secondary-color;
      }
      a {
        color: $navbar-font-color;
        display: inherit;
      }
    }
  }  
}

 #mobile-links {
   background-color:  $primary-color;
  
   li {
     background-color: white; 
     transition: background-color .3s;
     border-bottom: 1px solid $divider-color;
      
     &:hover { background-color: $primary-color; }
     &.active { border-right: 4px solid $secondary-color; }
     a { 
       color: $navbar-font-color; 
       &:hover { background-color: $primary-color; }  
     }
   }
 }