body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  #main-container { 
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    margin-bottom:-20px; 
  }
}

footer.page-footer {
  .footer-copyright {
    color: $navbar-font-color;
  }
}

// Top Nav Bar inside header
nav {
  .nav-wrapper {
    i { 
      display: inline-block; 
      vertical-align: middle;
    }
    .button-collapse { margin-left: $md-margin; }
    #supertcp-logo { 
      margin-left: $md-margin;
      margin-bottom: -10px;
      width: 125px; 
    }
    #app-title { 
      margin-right: 40%; 
      font-weight: bold;
    }
  }
}

.top-filters-container {
	padding: $md-margin;
  padding-bottom: 0px;
}