#desktop-links-container {
  color: $navbar-font-color;
  background-color: $primary-color;
 
  a { color: $navbar-font-color; }
  
  ul {
    line-height: $navbar-height-mobile;
    padding-left: $sm-margin; 
  }  
}